
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
body {
  font-family: "Almarai", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  box-sizing: border-box;
}
